@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h2>New Broadcast</h2>

    <form method="post" action="/Home/Broadcast">
        <textarea name="Message"></textarea> <br />
        <input type="submit" value="Post" />
    </form>

    <form asp-action="/Home/Broadcast" method="post" enctype="multipart/form-data">
        <textarea name="Message" class="form-control"></textarea>
        <input type="file" name="Image" class="form-control" />
        <button type="submit" class="btn btn-primary">Post</button>
    </form>


    <hr />

    <h2>Broadcasts</h2>

    @foreach (var broadcast in Model.Broadcasts)
    {
        <p>
            <b>
                @broadcast.User.Name
                (@broadcast.Published.ToShortDateString() @broadcast.Published.ToShortTimeString())
            </b>:
            @broadcast.Message
        </p>
    }

    @foreach (var post in Model.Broadcasts)
    {
        <div class="post">
            <p>@post.Message</p>
            @if (!string.IsNullOrEmpty(post.ImageUrl))
            {
                <img src="@post.ImageUrl" alt="Post Image" class="img-fluid" />
            }
        </div>
    }

</div>
